[Desktop Entry]
Encoding=UTF-8
Name=VertiCoin
Comment=VertiCoin P2P Cryptocurrency
Comment[fr]=VertiCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=VertiCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/VertiCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/VertiCoin80.xpm
MimeType=x-scheme-handler/VertiCoin;
Categories=Office;
