#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_VertiCoin
#build/VertiCoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_VertiCoin)

DEB_INSTALL_EXAMPLES_VertiCoind += debian/examples/*
DEB_INSTALL_MANPAGES_VertiCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 VertiCoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f VertiCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake VertiCoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_VertiCoin
	#src/test_VertiCoin

# Ensure wrapper is set executable
binary-post-install/VertiCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/VertiCoind
binary-post-install/VertiCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/VertiCoin-qt
